html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {  
    background-color: #F4EFD9;
}

.header {
  background: linear-gradient(to bottom, #194375 0%, #264875 100%);
  color: #DCDDD8;
  padding: 1em;
}

.footer {
  background: linear-gradient(to bottom, #194375 100%, #264875 0%);
  color: #DCDDD8;
  padding: .5em;
}

#opening {
    padding: 1em;
}

.DEM{
	fill: #3498DB;
    opacity: 0.6;
}

.REP{
    fill: #E74C3C;
    opacity: 0.6;
}

.OTH{
    fill: #D8DB58;
    opacity: 0.6;
}

.brushPath{
    fill: #194375;
}

#brushRect{
    fill: #194375;
    opacity: .2;
}

#ticker{
    fill: #194375;
    stroke: #F4EFD9;
    stroke-width: .25;
    opacity: 1;
}

.counter{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.count{
    color: #000000;
    font-size: 20px;
}

.tick line{
    opacity: .4;
}

.y.axis .domain {
    display: none;
};