html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Lato, sans-serif !important;
    font-weight: 400;
    font-size: 16pt;
    background-color: #F4EFD9;
}

.cands {

}

.DEM{
	fill: #3498DB;
    opacity: 0.6;
}

.REP{
    fill: #E74C3C;
    opacity: 0.6;
}

.OTH{
    fill: #D8DB58;
    opacity: 0.6;
}

.brushPath{
    fill: #194375;
}

.brushRect{
    fill: #194375;
    opacity: .2;
}